body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}



header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    margin: 0;
    margin-top: 0;
}

ul {
    display: flex;   
}

ul li a {
    padding: 5px;
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    flex-direction: row;
}

.hero {
    background: url('hero-image.jpg') no-repeat center center/cover;
    color: black;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    margin: 0;
    font-size: 48px;
}

.about, .reviews, .contact {
    padding: 50px 0;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 36px;
}

.review {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}